<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>Build-A-Pooter</title>
	<link rel="stylesheet" href="../stylesheets/main.css">
</head>
<body>
<div id="wrapper">
	<div id="navWrap">
		<div id="header">
			<h1>Build-A-Pooter</h1>
		</div>
		<% include templates/navbar.ejs %>
	<div id="container">
		<h1 class="sub">Select your parts:</h1>
		<div id="parts">
			<table align="center">
				<tr>
					<td>Computer Case</td>
					<td></td>
                    <td><form action="/buildAPooter" method="post"><input type="hidden" value="Computer Case" name="search"><input type="submit" value="Select"></form></td>
				</tr>

				<tr>
					<td>Mother Board</td>
					<td></td>
					<!--<td><button type="button">Select</button></td>-->
                    <td><form action="/buildAPooter" method="post"><input type="hidden" value="Mother Board" name="search"><input type="submit" value="Select"></form></td>
				</tr>
				<tr>
					<td>Ram</td>
					<td></td>
					<!--<td><button type="button">Select</button></td>-->
                    <td><form action="/buildAPooter" method="post"><input type="hidden" value="Ram" name="search"><input type="submit" value="Select"> </form></td>
				</tr>
				<tr>
					<td>Graphics Card</td>
					<td></td>
					<!--<td><button type="button">Select</button></td>-->
                    <td><form action="/buildAPooter" method="post"><input type="hidden" value="Graphics Card" name="search"><input type="submit" value="Select"> </form></td>
				</tr>
				<tr>
					<td>Hard Drive</td>
					<td></td>
					<!--<td><button type="button">Select</button></td>-->
                    <td><form action="/buildAPooter" method="post"><input type="hidden" value="Hard Drive" name="search"><input type="submit" value="Select"> </form></td>
				</tr>
				<tr>
					<td>Power Supply</td>
					<td></td>
					<!--<td><button type="button">Select</button></td>-->
                    <td><form action="/buildAPooter" method="post"><input type="hidden" value="Power Supply" name="search"><input type="submit" value="Select"> </form></td>
				</tr>
				<tr>
					<td>Disc Drive</td>
					<td></td>
					<!--<td><button type="button">Select</button></td>-->
                    <td><form action="/buildAPooter" method="post"><input type="hidden" value="Disc Drive" name="search"><input type="submit" value="Select"> </form></td>
				</tr>
			</table>
            <BR>
            <div id="amazon">
                <form method="GET" action="http://www.amazon.ca/gp/aws/cart/add.html">
                    <input type="image" name="add" src="http://juniortraveller.com/wp-content/uploads/CheckoutAmazon-1.png" />
                    <input type="hidden" name="AWSAccessKeyId" value=<%= awsId %> /><br/>
                    <input type="hidden" name="AssociateTag" value=<%= assocId %> /><br/>
                    <input type="hidden" name="ASIN.1" value="B0049MPQA4"/><br/>
                    <input type="hidden" name="Quantity.1" value="1"/><br/>
                    <input type="hidden" name="ASIN.2" value=""/><br/>
                    <input type="hidden" name="Quantity.2" value="1"/><br/>
                    <input type="hidden" name="ASIN.3" value=""/><br/>
                    <input type="hidden" name="Quantity.3" value="1"/><br/>
                    <input type="hidden" name="ASIN.4" value=""/><br/>
                    <input type="hidden" name="Quantity.4" value="1"/><br/>
                    <input type="hidden" name="ASIN.5" value=""/><br/>
                    <input type="hidden" name="Quantity.5" value="1"/><br/>
                    <input type="hidden" name="ASIN.6" value=""/><br/>
                    <input type="hidden" name="Quantity.6" value="1"/><br/>
                    <input type="hidden" name="ASIN.7" value=""/><br/>
                    <input type="hidden" name="Quantity.7" value="1"/><br/>
                </form>
            </div>
		</div>
        </div>
	</div>
</div>

</body>
</html>