<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>Build-A-Pooter</title>
	<link rel="stylesheet" href="../stylesheets/main.css">
</head>
<body>
<div id="wrapper">
	<div id="navWrap">
		<div id="header">
			<h1>Build-A-Pooter</h1>
		</div>
        <% include templates/navbar.ejs %>
		<!--
		<div id="navMenu">
			<ul>
				<li>Menu
					<ul>
						<li><a href="index.html"> Home</a></li>
						<li><a href="buildAPooter.html">Build-A-Pooter</a></li>
						<li><a href="builds.html">Saved Builds</a></li>
						<li><a href="about.html">About us</a></li>
						<li class="nav"><a href="login.html">Login</a></li>
						<li ><a href="cart.html">Shopping Cart</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	-->
	<div id="container">
		<h1 class="sub">Create an Account:</h1>
		<table align="center">
			<tr>
				<td>First Name:</td>
				<td><input type="text" /></td>
			</tr>
			<tr>
				<td>Last Name:</td>
				<td><input type="text" /></td>
			</tr>
			<tr>
				<td>Username:</td>
				<td><input type="text" /></td>
			</tr>
			<tr>
				<td>Email:</td>
				<td><input type="text" /></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type="password" /></td>
			</tr>
			<tr>
				<td>Confirm Password:</td>
				<td><input type="password" /></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Create Account"/></td>
			</tr>
			<table>
	</div>
</div>
</body>
</html>