<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Build-A-Pooter</title>
  <link rel="stylesheet" href="../stylesheets/main.css">
</head>
<body>
<div id="navWrap">
  <div id="header">
    <h1><a href="/">Build-A-Pooter</a></h1>
  </div>
  <% include templates/navbar.ejs %>
</div>
<div id="wrapper">

  <div id="container">
    <table align="center" id="homeTable" class="tableLink">
      <tr>
        <td>
          <a href="/buildAPooter">Build A Pooter
            <p class="desc">Build your own computer using our piece-by-piece software which make your computer building needs
            as simple as possible. </p>
          </a>
        </td>
        <td><a href="/builds">User Builds
          <p class="desc">View user saved builds and rate/comment them.  Modify and build your own pc from the user created builds
          and make them your own.</p>
          </a></td>
      </tr><tr>
        <td><a href="/createAccount" >Sign Up Now
            <p class="desc">Sign up now and have the ability to comment and rate other users builds and begin
            creating your own pc TODAY!!!!!!</p>
          </a></td>
        <td><a href="/about">About Us
            <p class="desc">Learn more about us and the creators of this software.</p>
          </a></td>
      </tr>

    </table>

  </div>
</div>
</body>
</html>