<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Build-A-Pooter</title>
  <link rel="stylesheet" href="../stylesheets/main.css">
</head>
<body>
<div id="navWrap">
  <div id="header">
    <h1><a href="/">Build-A-Pooter</a></h1>
  </div>
  <% include templates/navbar.ejs %>
</div>
<div id="wrapper">

  <div id="container">
    <table align="center" id="homeTable" class="tableLink">
      <tr>
        <td><a href="/buildAPooter">Build A Pooter</a></td>
        <td><a href="/builds">User Saved Builds</a></td>
      </tr><tr>
        <td><a href="/createAccount">Sign Up Now</a></td>
        <td><a href="/about">About Us</a></td>
      </tr>

    </table>

  </div>
</div>
</body>
</html>