<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Build-A-Pooter</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
        integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
        crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheets/main.css">
</head>
<body>
 <!--===================================NAVBAR==============================================
 ===========================================================================================-->
 <nav class="navbar navbar-default navbar-fixed-top">
     <div class="container">
         <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
             </button>
             <a class="navbar-brand" href="/">Build-A-Pewter</a>
         </div>

         <div class="collapse navbar-collapse">
             <ul class="nav navbar-nav">
                 <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
                 <li  ><a href="/buildAPooter">Build</a></li>
                 <li><a href="/builds">Saved Builds</a></li>
                 <li><a href="/about">About</a></li>
             </ul>
             <ul class="nav navbar-nav navbar-right">
                 <% if (!user) { %><li><a href="/login" id="login">Login</a></li> <% } %>
                 <li class="dropdown">
                     <% if (user) { %> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                         <span class="glyphicon glyphicon-user"></span> <%= user.userName %> <span class="caret"></span></a> <% } %>
                     <ul class="dropdown-menu">
                         <li><a href="#">Profile</a></li>
                         <li><a href="#">Saved Builds</a></li>
                         <li role="separator" class="divider"></li>
                         <li><a href="#">Sign Out</a></li>
                     </ul>
                 </li>
             </ul>
         </div>
     </div>
 </nav>
 <div class="page-header">
     <div class="container">
         <h1><a href="/">Build-A-Pewter</a></h1>
     </div>
 </div>



  <div class="container">
    <table align="center" id="homeTable">
      <tr>
        <td>
          <a role="button" href="/buildAPooter">Build A Pewter
            <p class="desc">Build your own computer using our piece-by-piece software which make your computer building needs
            as simple as possible. </p>
          </a>
        </td>
        <td><a role="button" href="/builds">User Builds
          <p class="desc">View user saved builds and rate/comment them.  Modify and build your own pc from the user created builds
          and make them your own.</p>
          </a></td>
        </tr>
        <tr>
        <td><a role="button" href="/createAccount" >Sign Up Now
            <p class="desc">Sign up now and have the ability to comment and rate other users builds and begin
            creating your own pc TODAY!!!!!!</p>
          </a></td>
        <td><a role="button" href="/about">About Us
            <p class="desc">Learn more about us and the creators of this software.</p>
          </a></td>
      </tr>
    </table>
  </div>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
          integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
          crossorigin="anonymous"></script>
</body>
</html>