<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>Build-A-Pooter</title>
	<link rel="stylesheet" href="../stylesheets/main.css">
</head>
<body>
<% include templates/navbar.ejs %>
	<div id="container">
		<h1 class="sub">Login</h1>
		<form>
			<table align="center">
				<tr><td>UserName:</td><td><input type="text" name="UserName"/></td></tr><br>
				<tr><td>Password:</td><td><input type="password" name="Password"/></td></tr>
				<tr><td colspan="2"><input type="submit" value="Login!"/></td></tr>
				<tr><td colspan="2"><a href="/createAccount">Click here to create a new account:</a></td></tr>
			</table>
		</form><br>


	</div>

</body>
</html>