<!-- Created by Stephen Michaud

<div id="navWrap">
    <div id="header">
        <a href="/"><img src="../images/softranLogo.jpg" /></a>
        <h1><a href="/">Build-A-Pooter</a></h1>
    </div>
    <div id="navMenu">
        <ul>
            <li>Menu
                <ul>
                    <li><a href="/"> Home</a></li>
                    <li><a href="/buildAPooter">Build-A-Pooter</a></li>
                    <li><a href="/builds">Saved Builds</a></li>
                    <li><a href="/about">About us</a></li>
                    <li class="nav"><a href="/login">Login</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

