<div id="navMenu">
    <ul>
        <li>Menu
            <ul>
                <li><a href="/"> Home</a></li>
                <li><a href="/buildAPooter">Build-A-Pooter</a></li>
                <li><a href="/builds">Saved Builds</a></li>
                <li><a href="#">About us</a></li>
                <li class="nav"><a href="/login">Login</a></li>
                <li ><a href="/cart">Shopping Cart</a></li>
            </ul>
        </li>
    </ul>
</div>
